{% extends "base.html" %}

{% block content %}
  <header>
    {% match full_name %}
      {% when Some with (val) %}
      signed in as: {{ val }}
      <form method="post" action="/logout?redirect_to={{ current_path }}">
        <button type="submit">Logout</button>
      </form>
      {% when None %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {% endmatch %}
  </header>
  <div>
    <div>
    {% if edit_mode %}
      <form method="post">
        <textarea name="markdown" rows="12" cols="80">{{ raw_file_content }}</textarea>
        <button>Send</button>
      </form>
    {% else %}
      {{ raw_file_content | html | safe }}
    {% endif %}
    </div>
    <div>
    {% if edit_mode %}
      {{ raw_file_content | html | safe }}
    {% endif %}
    </div>
  </div>
{% endblock %}
