{% extends "base.html" %}

{% block content %}
  <form class="form-card form-grid" method="post" action="/login?redirect_to={{ redirect_path }}">
    <h1>Login</h1>
    <label class="form-label">
      Email
      <input class="form-control" required name="email" type="email" placeholder="rafiq@rrv.sh" autocomplete="email">
    </label>
    <label class="form-label">
      Password
      <input class="form-control" required name="password" type="password" autocomplete="current-password">
    </label>
    <button class="btn btn--primary" type="submit">Login</button>
  </form>
{% endblock %}
